/Abteilung.class
/Adresse.class
/Belegung.class
/Fach.class
/HTL_main.class
/Klassen.class
/Lehrer.class
/Mitarbeiter.class
/Nichtlehrpersonal.class
/Person.class
/Raum.class
/Raumtyp.class
/Schueler.class
/Schule.class
/Unterrichtstag.class
